h1,h2
{
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  font-size: 100px;
  padding-top: 50px;
  text-align: center;
  text-shadow: 5px 5px 12px black;
  text-transform: uppercase;
}

body{
  background-image: url('static/bg4.jpg');
  background-attachment: fixed;
  background-size: cover;
}

p{
  font-family: cursive;
}

.nav-item{
  color: white;
  font-size: 30px;
}

#itseasy
      {
        border-radius: 20px;
      }
#itsfun
      {
        border-radius: 20px;
      }

#a:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

#button{
  font-weight: bold;
  background-image: url('bg4.jpg');
  background-size: cover;
}
