.grid-container {
  display: grid;
  grid-template-columns: 200px 966px 200px;
  grid-template-rows: 50px 50px 50px 50px 210px 20px 265px;
  gap: 0px 0px;
  grid-template-areas: "title title title" "fr1 tool fr2" "fr1 opt fr2" "act work gal" "action work photo" "fr4 work photo" "des work photo";
}
.iconify { width: 40px; height: 30px;}

.title { grid-area: title; background-color: black; color:white;border:1px solid black;}

.tool { grid-area: tool;background-color: black; color:white;}

.opt{grid-area: opt; background-color: black; color: white; height: 50px; width: 966px;}

.title_blank{width: 666px;background-color: black;color:white;border:1px solid black}

.tool_options{display:none;text-align: left;width: 966px;font-weight: bold;}
.rectangle1 {
  height: 25px;
  width: 25px;
  background-color: #000;
  border:2px solid white;
  display: inline-block;
  margin-left: 10px;
}
.rectangle2 {
  height: 24px;
  width: 13.5px;
  background-color: #000;
  border:2px solid white;
  display: inline-block;
  margin-left: 10px;
}
.rectangle3 {
  height: 18px;
  width: 24px;
  background-color: #000;
  border:2px solid white;
  display: inline-block;
  margin-left: 10px;
}
.fr2 { grid-area: fr2;  background-color: black; color:white;}

.fr1 { grid-area: fr1;  background-color: black; color:white}

.act { grid-area: act;  background-color: black; color:white;border:1px solid black}

.fr3 { grid-area: fr3;  background-color: black; color:white}

.gal { grid-area: gal;  background-color: black; color:white;border:1px solid black}

.photo { grid-area: photo;  background-color: black; color:white;border:1px solid black;}

.work { grid-area: work;background-color: black;}

.action { grid-area: action;  background-color: black; color:white;border:1px solid black;}

.fr4 { grid-area: fr4;  background-color: black; color:white}

.des { grid-area: des;  background-color: black; color:white;border:1px solid black;}

.btn_tool{color:white;background-color:black;border-color:black;}
.cc{background-color: red;}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: black !important;
}
.btn-group, .btn-group:hover, .btn-group:active, .btn-group:visited {

    background-color: black !important;
    border-color: black !important;
}
button  {color:white;background-color: black;border-color:black;}

#blur_slider{
	width: 200px;
	display: inline-block;
	margin-left: 80px;
}
#gray_slider{
	width: 200px;
	display: inline-block;
	margin-left: 80px;
}
#invert_slider{
	width: 200px;
	display: inline-block;
	margin-left: 80px;
}
#sharpen_slider{
	width: 200px;
	display: inline-block;
	margin-left: 80px;
}
